<div class="col-md-4">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <div class="panel panel-title">
        Chart 1
      </div>
    </div>
    <div class="panel panel-body">
      <div id="ct-line1" class="ct-chart">
        <svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="280" class="ct-chart-line" style="width: 100%; height: 280;">
          <g class="ct-grids">
            <line x1="50" x2="50" y1="15" y2="245" class="ct-grid ct-horizontal"></line>
            <line x1="112.75" x2="112.75" y1="15" y2="245" class="ct-grid ct-horizontal"></line>
            <line x1="175.5" x2="175.5" y1="15" y2="245" class="ct-grid ct-horizontal"></line>
            <line x1="238.25" x2="238.25" y1="15" y2="245" class="ct-grid ct-horizontal"></line>
            <line x1="301" x2="301" y1="15" y2="245" class="ct-grid ct-horizontal"></line>
            <line y1="245" y2="245" x1="50" x2="301" class="ct-grid ct-vertical"></line>
            <line y1="199" y2="199" x1="50" x2="301" class="ct-grid ct-vertical"></line>
            <line y1="153" y2="153" x1="50" x2="301" class="ct-grid ct-vertical"></line>
            <line y1="107" y2="107" x1="50" x2="301" class="ct-grid ct-vertical"></line>
            <line y1="61" y2="61" x1="50" x2="301" class="ct-grid ct-vertical"></line>
            <line y1="15" y2="15" x1="50" x2="301" class="ct-grid ct-vertical"></line>
          </g>
          <g>
            <g class="ct-series ct-series-a">
              <path d="M50,24.2C60.458,33.4,91.833,64.067,112.75,79.4C133.667,94.733,154.583,113.133,175.5,116.2C196.417,119.267,217.333,91.667,238.25,97.8C259.167,103.933,290.542,143.8,301,153" class="ct-line"></path>
              <line x1="50" y1="24.19999999999999" x2="50.01" y2="24.19999999999999" class="ct-point" value="12"></line>
              <line x1="112.75" y1="79.4" x2="112.76" y2="79.4" class="ct-point" value="9"></line>
              <line x1="175.5" y1="116.19999999999999" x2="175.51" y2="116.19999999999999" class="ct-point" value="7"></line>
              <line x1="238.25" y1="97.80000000000001" x2="238.26" y2="97.80000000000001" class="ct-point" value="8"></line>
              <line x1="301" y1="153" x2="301.01" y2="153" class="ct-point" value="5"></line>
            </g>
            <g class="ct-series ct-series-b">
              <path d="M50,208.2C60.458,211.267,91.833,231.2,112.75,226.6C133.667,222,154.583,199,175.5,180.6C196.417,162.2,217.333,114.667,238.25,116.2C259.167,117.733,290.542,177.533,301,189.8" class="ct-line"></path>
              <line x1="50" y1="208.2" x2="50.01" y2="208.2" class="ct-point" value="2"></line>
              <line x1="112.75" y1="226.6" x2="112.76" y2="226.6" class="ct-point" value="1"></line>
              <line x1="175.5" y1="180.6" x2="175.51" y2="180.6" class="ct-point" value="3.5"></line>
              <line x1="238.25" y1="116.19999999999999" x2="238.26" y2="116.19999999999999" class="ct-point" value="7"></line>
              <line x1="301" y1="189.8" x2="301.01" y2="189.8" class="ct-point" value="3"></line>
            </g>
            <g class="ct-series ct-series-c">
              <path d="M50,226.6C60.458,220.467,91.833,199,112.75,189.8C133.667,180.6,154.583,177.533,175.5,171.4C196.417,165.267,217.333,159.133,238.25,153C259.167,146.867,290.542,137.667,301,134.6" class="ct-line"></path>
              <line x1="50" y1="226.6" x2="50.01" y2="226.6" class="ct-point" value="1"></line>
              <line x1="112.75" y1="189.8" x2="112.76" y2="189.8" class="ct-point" value="3"></line>
              <line x1="175.5" y1="171.4" x2="175.51" y2="171.4" class="ct-point" value="4"></line>
              <line x1="238.25" y1="153" x2="238.26" y2="153" class="ct-point" value="5"></line>
              <line x1="301" y1="134.6" x2="301.01" y2="134.6" class="ct-point" value="6"></line></g>
            </g>
            <g class="ct-labels">
            <foreignObject style="overflow: visible;" x="50" y="250" width="62.75" height="20">
              <span class="ct-label ct-horizontal ct-end" style="width: 63px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">Monday</span>
            </foreignObject>
            <foreignObject style="overflow: visible;" x="112.75" y="250" width="62.75" height="20">
              <span class="ct-label ct-horizontal ct-end" style="width: 63px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">Tuesday</span>
            </foreignObject>
            <foreignObject style="overflow: visible;" x="175.5" y="250" width="62.75" height="20">
              <span class="ct-label ct-horizontal ct-end" style="width: 63px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">Wednesday</span>
            </foreignObject>
            <foreignObject style="overflow: visible;" x="238.25" y="250" width="62.75" height="20">
              <span class="ct-label ct-horizontal ct-end" style="width: 63px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">Thursday</span>
            </foreignObject>
            <foreignObject style="overflow: visible;" x="301" y="250" width="30" height="20">
              <span class="ct-label ct-horizontal ct-end" style="width: 30px; height: 20px" xmlns="http://www.w3.org/1999/xhtml">Friday</span>
            </foreignObject>
            <foreignObject style="overflow: visible;" y="199" x="10" height="46" width="30">
              <span class="ct-label ct-vertical ct-start" style="height: 46px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">0</span>
            </foreignObject>
            <foreignObject style="overflow: visible;" y="153" x="10" height="46" width="30">
              <span class="ct-label ct-vertical ct-start" style="height: 46px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">2.5</span>
            </foreignObject>
            <foreignObject style="overflow: visible;" y="107" x="10" height="46" width="30">
              <span class="ct-label ct-vertical ct-start" style="height: 46px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">5</span>
            </foreignObject>
            <foreignObject style="overflow: visible;" y="61" x="10" height="46" width="30">
              <span class="ct-label ct-vertical ct-start" style="height: 46px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">7.5</span>
            </foreignObject>
            <foreignObject style="overflow: visible;" y="15" x="10" height="46" width="30">
              <span class="ct-label ct-vertical ct-start" style="height: 46px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">10</span>
            </foreignObject>
            <foreignObject style="overflow: visible;" y="-15" x="10" height="30" width="30">
              <span class="ct-label ct-vertical ct-start" style="height: 30px; width: 30px" xmlns="http://www.w3.org/1999/xhtml">12.5</span>
            </foreignObject>
          </g>
        </svg>
      </div>
    </div>
    <div class="panel panel-footer">
      Chart about something important
    </div>
  </div>

</div>

<div class="col-md-8">
  <div class="panel panel-default">
    <div class="panel panel-heading">
      <div class="panel panel-title">
        Chart 2
      </div>
    </div>
    <div class="panel panel-body">
      <div class="chart-bar flot-chart" style="padding: 0px; position: relative;">
        <canvas class="flot-base" width="543" height="250" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 543px; height: 250px;"></canvas>
        <div class="flot-text" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
          <div class="flot-x-axis flot-x1-axis xAxis x1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 231px; left: 30px; text-align: center;">Jan</div>
            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 231px; left: 83px; text-align: center;">Feb</div>
            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 231px; left: 136px; text-align: center;">Mar</div>
            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 231px; left: 190px; text-align: center;">Apr</div>
            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 231px; left: 241px; text-align: center;">May</div>
            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 231px; left: 296px; text-align: center;">Jun</div>
            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 231px; left: 350px; text-align: center;">Jul</div>
            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 231px; left: 401px; text-align: center;">Aug</div>
            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 231px; left: 455px; text-align: center;">Sep</div>
            <div class="flot-tick-label tickLabel" style="position: absolute; max-width: 54px; top: 231px; left: 509px; text-align: center;">Oct</div>
          </div>
          <div class="flot-y-axis flot-y1-axis yAxis y1Axis" style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; display: block;">
            <div class="flot-tick-label tickLabel" style="position: absolute; top: 217px; left: 12px; text-align: right;">0</div>
            <div class="flot-tick-label tickLabel" style="position: absolute; top: 174px; left: 6px; text-align: right;">20</div>
            <div class="flot-tick-label tickLabel" style="position: absolute; top: 130px; left: 6px; text-align: right;">40</div>
            <div class="flot-tick-label tickLabel" style="position: absolute; top: 87px; left: 6px; text-align: right;">60</div>
            <div class="flot-tick-label tickLabel" style="position: absolute; top: 43px; left: 6px; text-align: right;">80</div>
            <div class="flot-tick-label tickLabel" style="position: absolute; top: 0px; left: 1px; text-align: right;">100</div>
          </div>
        </div>
        <canvas class="flot-overlay" width="543" height="250" style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 543px; height: 250px;"></canvas>
        <div class="legend">
          <div style="position: absolute; width: 52px; height: 24px; top: 14px; right: 15px; opacity: 0.85; background-color: rgb(252, 252, 252);"> </div>
          <table style="position:absolute;top:14px;right:15px;;font-size:smaller;color:#545454">
            <tbody>
              <tr>
                <td class="legendColorBox">
                  <div style="border:1px solid #ccc;padding:1px">
                    <div style="width:4px;height:0;border:5px solid #9cd159;overflow:hidden"></div>
                  </div>
                </td>
                <td class="legendLabel">Sales</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="panel panel-footer">
      Chart about something equally important
    </div>
  </div>

</div>

