<div class="col-lg-4 col-md-6">
<div class="panel widget">
   <div class="panel-body bg-success">
      <div class="h5 mt0">Received all time</div>
      <!-- Line chart-->
      <div data-sparkline="" data-values="1,3,4,7,5,9,4,4,7,5,9,6,4" data-type="line" data-height="80" data-width="100%" data-line-width="2" data-line-color="#dddddd" data-spot-color="#bbbbbb" data-fill-color="" data-highlight-line-color="#fff" data-spot-radius="3" data-resize="true"><canvas width="343" height="80" style="display: inline-block; width: 343px; height: 80px; vertical-align: top;"></canvas></div>
      <!-- Bar chart-->
      <div class="text-center">
         <div data-sparkline="" data-bar-color="#fff" data-height="50" data-bar-width="6" data-bar-spacing="6" data-values="1,3,4,7,5,9,4,4,7,5,9,6,4"><canvas width="150" height="50" style="display: inline-block; width: 150px; height: 50px; vertical-align: top;"></canvas></div>
      </div>
   </div>
     <div class="panel-body bg-inverse">
        <div class="row row-table text-center">
           <div class="col-xs-4">
              <p class="m0 h3">15080</p>
              <p class="m0 text-muted">Shots</p>
           </div>
           <div class="col-xs-4">
              <p class="m0 h3">12000</p>
              <p class="m0 text-muted">Likes</p>
           </div>
           <div class="col-xs-4">
              <p class="m0 h3">5100</p>
              <p class="m0 text-muted">Comments</p>
           </div>
        </div>
     </div>
  </div>
</div>
<div class="col-lg-4 col-md-6">
  <!-- START widget-->
  <div class="panel widget bg-danger">
     <div class="row row-table">
        <div class="col-xs-4 text-center bg-danger-dark pv-lg">
           <em class="icon-star fa-3x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
           <div class="h1 m0 text-bold">7000</div>
           <div class="text-uppercase">Ratings received</div>
        </div>
     </div>
  </div>
</div>

<div class="col-lg-4 col-md-12">
<!-- START widget-->
  <div class="panel widget bg-warning">
     <div class="row row-table">
        <div class="col-xs-4 text-center bg-warning-dark pv-lg">
           <em class="icon-trophy fa-3x"></em>
        </div>
        <div class="col-xs-8 pv-lg">
           <div class="h1 m0 text-bold">10</div>
           <div class="text-uppercase">Achievements</div>
        </div>
     </div>
  </div>
</div>
