<div id="new_book" class="panel panel-default">
  <div class="panel-heading">
    <div class="panel-title">Create a new Book</div>
  </div>
  <%= form_for @book, url: books_path do |form| %>
    <%= render partial: "form", locals: {form: form} %>
  <% end %>
</div>
