<div id="show_book">
  <h1><%= @book.title %></h2>
  <p><%= @book.author %></p>
  <div class="book_content"><%= @book.content %></div>
  <%= link_to "All Books", books_path, class: "mb-sm btn btn-default" %>
</div>
